doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(property="og:title" content=data.title)
    meta(property="og:description" content="Click here to find more!")
    meta(property="og:type" content="article")
    meta(property="og:url" content="")
    meta(property="og:image" content=data.url)
  body
    block content
